body {
  background-color: #b3b2d4;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #333333;
  color: #ffffff;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  padding-right: 5px;
  padding-bottom: 5px;
  position: relative;
}

/* Estilos para las imagenes */
.container img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.5s;
}


.container img:hover {
  border: 2px solid red;
  z-index: 2;
  transform: scale(1.2);
}

/* Para las imagenes posteriores a la que tiene el mouse */
.container img:hover ~ img {
  opacity: 0;
}

.container > img:nth-child(1){
    margin-left: 5px;
    margin-top: 5px;
 }

 .center{
  display: flex;
  justify-content: center;
}