body {
    background-color: #FDF7A3;
    margin: 0;
    padding: 0;
  }

.container {
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f2f2f2;
}

.separator {
    height: 1px;
    background-color: #000;
    margin: 20px 0;
}

.gallery {
    float: right;
    width: 345px;
      }
      .gallery img {
          width: 100px;
    height: 100px;
          margin-bottom: 20px;
    float: left;
    margin-right: 10px;
      }
  #text {
    clear:Â both;
}

.photo {
    width: calc(33.33% - 10px);
    margin: 5px;
    box-sizing: border-box;
    border: 5px solid #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
}

.colortext{
	color: gray;
	font-style: italic;
}

.footer {
    background-color: #333333;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
  }
  