body {
  background-color: #aed6f1;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #333333;
  color: #ffffff;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
}

li {
  margin-bottom: 20px;
}

a[href$=".pdf"]::before { /*los enlaces (a) que tengan la extensión de archivo .pdf al final en su URL "(href$=".pdf")" 
                          "before es el pseudoelemento"*/
    content: "";   /*indica que el contenido del pseudo-elemento es vacío.*/
    background-image: url("../images/pdf-icon.png"); /*establece una imagen de fondo para el pseudo-elemento.
                                           "pdf-icon.png" y se usará como un icono para indicar que el enlace es a un archivo PDF.*/
    background-size: 75px 75px; /*establece el tamaño de la imagen de fondo en 75x75 px.*/
    display: inline-block; /*indica que el pseudo-elemento se muestra como un bloque en línea, 
                          osea significa que se muestra al lado del texto del enlace en lugar de debajo.*/
    width: 75px; /*establezco el ancho del pseudoelemento a 75px*/
    height: 75px;/*establezco el alto del pseudoelemento a 75px*/
}
  
a[href$=".jpg"]::before {
    content: "";
    background-image: url("../images/jpg-icon.png");
    background-size: 50px 50px;
    display: inline-block;
    width: 50px;
    height: 50px;
    /*background-position: center;*/
}
  
a[href$=".docx"]::before {
    content: "";
    background-image: url("../images/docx-icon.png");
    background-size: 75px 75px;
    display: inline-block;
    width: 75px;
    height: 75px;
}
  
a[href$=".xls"]::before {
    content: "";
    background-image: url("../images/xlsx-icon.png");
    background-size: 75px 75px;
    display: inline-block;
    width: 75px;
    height: 75px;
}
  
a[href$=".txt"]::before {
  content: "";
  background-image: url("../images/txt-icon.png");
  background-size: 60px 60px;
  display: inline-block;
  width: 60px;
  height: 60px;
}

a[href$=".zip"]::before {
  content: "";
  background-image: url("../images/zip-icon.png");
  background-size: 40px 40px;
  display: inline-block;
  width: 40px;
  height: 40px;
}