body {
  background-color: #b4d4b2;
  margin: 0;
  padding: 0;
}

.container {
  margin: 5px;
}

.footer {
  background-color: #333333;
  color: #ffffff;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
}

.border,
p,
p::first-letter {
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

p {
  padding: 15px;
  margin-bottom: 50px;
  overflow: auto;
}

p::first-letter {
  font-size: 27px;
  color: black;
  font-weight: bold;
  padding: 4px;
  margin-top: 10px;
}

p:nth-child(odd) {
  border-color: red;
  font-family: "Arial";
  text-align: right;
}
p:nth-child(even) {
  border-color: black;
  font-family: "Courier New";
  text-align: left;
}

p:nth-child(odd) img:nth-child(even) {
  clear: right;
}

img {
  float: right;
  top: 0px;
  right: 0px;
  width: 100px;
  height: 100px;
  margin: 10px;
}
