html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.profileImg {
  width: 250px;
  height: 250px;
}

.center {
  text-align: center;
}

.container {
  margin: 20px;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.footer {
  background-color: #333333;
  color: #ffffff;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
}
